<div class="jumbotron">
    <div class="container">
        <div class="alert alert-info" id="top-info">
            <h3>About</h3>
            <div>Hosted by the blocknex.us network.</div>
            <div>Approved and authorised pool of Metaverse by the Metaverse project and ViewFin.</div>
        </div>
    </div>
</div>
<div class="container mainbody">
    {{partial "alerts"}}
    <h4>Contact</h4>
    <ul>
        <li>Telegram (<strong>preferred</strong>): <a href="https://t.me/metaversefarm" target="_blank">Metaverse.farm</a></li>
        <li>Twitter: <a href="https://twitter.com/Metaversefarm" target="_blank">@Metaversefarm</a></li>
    </ul>
    <h4>Server specs</h4>
    <p>We use Amazon EC2 instances as a mix of
    <ul>
        <li>c4.large (Xeon E5-2666 v3 x 2 threads, 3.75GB DDR4)</li>
        <li>c4.xlarge (Xeon E5-2666 v3 x 4 threads, 7.5GB DDR4)</li>
    </ul>
    Behind load balancers.
    </p>
    <h4>Terms of Service</h4>
    <p>By using the pool you accept all possible risks related to experimental software usage. blocknex.us do not guarantee to compensate or promise against any unexpected losses. By mining here you understand and agree to these terms.</p>
</div>