<!--<div class="alert alert-info">
    <h4>Back under a new partnership</h4>
    <p>For those of us joining recently or those who used to mine here, we have rebirthed Metaverse.farm thanks to a new partnership with Belgian friends of ours.</p>
    <p>More information to come soon, happy mining.</p>
</div>-->
<div class="alert alert-danger">
    <h4>20 Aug 18: Wallet issues</h4>
    <p>There was yet <strong>another</strong> critical wallet vulnerability which affected all block submissions from 20th Aug 21:00 GMT onwards til patched on 22nd Aug at around 18:00 GMT.</p>
    <p>Unfortunately, no blocks were accepted by the network during this time. This problem was due to a bug in the Metaverse wallet and was beyond our control. There were no notifications of this serious vulnerability from the Metaverse team.</p>
</div>