<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header" style="margin-bottom: 10px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" target="/"><img src="/logo.png" /></a>
        </div>
    </div>
</div>

<div class="container">
    <div style="position: relative; top: 50px;" class="page-header">
        <p style="padding-bottom: 15px;"><img src="https://i.imgur.com/A28V30h.png" /></p>
        <h1>Oops! Something went wrong...</h1>
        <p>Try refreshing your page. Mining is not normally affected.</p>
        <p>Our Web API could be having issues or another possibility is your browser is too old...</p>
    </div>
</div>