<div class="jumbotron">
    <div class="container">
        <div class="alert alert-info" id="top-info">
            <h3 style="margin-top: -5px;">No Account Data Available</h3>
            <div>If you are looking for your account stats, you need to submit at least a single share.</div>
        </div>
    </div>
</div>
<div class="container mainbody">
    {{partial "alerts"}}
</div>